body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
#kuvat{
    width:100%;
    display:flex;
    justify-content: center;
}
h1{
    font-family: 'Heebo', sans-serif;
    font-size:6em;
    background-image: url(../kuvat/otsikontausta.jpg)
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
#varaus{
    display: flex;
    justify-content: center;
}
h2{
    font-size:2em;
    color: #4CAF50;
    background-color: #111;
}
body{
    text-align:center;
}
#ajat{
    display: flex;
    justify-content: center;
}
