*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 3;
}
header{
    background: rgb(54, 89, 124);
}
nav{
    background: rgb(160, 201, 253);
}
article{
    background: rgb(255, 255, 255);
    color:black;
}
aside{
    background: rgb(158, 158, 228);
}   
footer{
    background: rgb(100, 100, 240);
}
.container,
.content{
    display: flex;
    flex-direction: column;
}
@media all and (min-width: 768px) {
    .content{
        flex-direction: row;
        flex-wrap: wrap;
    }
    article{
        flex :7;
        order:1;
        min-height:80vh;
    }
    figure{
        order: 2;
        flex:3;
        color:black;
    }
    .aside{
        order: 3;
        flex:2;
        max-width: 100px;
        display:none
    }
}